const std = @import("std");
const parse = @import("parse.zig");
const testing = std.testing;

pub fn run(numbers: []i32) !i32 {
    return numbers[0];
}

const EXAMPLE_ANSWER_2: i32 = {{answer}};

test "part 2" {
    var gpa = std.heap.GeneralPurposeAllocator(.{}){};
    const allocator = gpa.allocator();
    defer _ = gpa.deinit();
    const input = try parse.parse_file(allocator, "example_2.txt");
    defer allocator.free(input);

    const result = run(input);
    try testing.expectEqual(result, EXAMPLE_ANSWER_2);
}
